
body {
    background: url('logo.png') no-repeat center fixed;  
    background-image: linear-gradient(
        rgba(30, 30, 30, 0.8),
        rgba(76, 62, 62, 0.8)
        ),
        url(logo.png);  
    background-size: cover;
        }
h1 {
    color: #4d7d3c;
    font-family: arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    }

    .page-heading {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff9f9f6;
        white-space: nowrap;
      }
      
      .page-heading-primary {
        display: block;
        font-size: 3.125rem;
        font-weight: 300;
        text-transform: uppercase;
        color: #fff9f9f6;
      }
      
      .page-heading-secondary {
        display: block;
        font-size: 1.25rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4.5px;
      }


      